.button {
  padding: 15px 4px 15px 20px;

  background-color: transparent;
  border: 1px $basic-blue solid;
  border-radius: 30px;

  display: grid;
  grid-template-columns: auto 34px;
  align-items: center;
  gap: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 20px 4px 20px 30px;

    grid-template-columns: auto 46px;
    gap: 30px;
  }

  &:hover {
    cursor: pointer;

    background-color: $basic-blue;

    .button__text {
      color: $basic-white;
    }

    .button__text::after {
      background-color: $basic-white;
    }

    .button__icon {
      stroke: $basic-blue;

      transform: rotate(45deg);
    }
  }

  &:focus-visible {
    outline: none;

    background-color: transparent;

    .button__text {
      color: $basic-blue;
    }

    .button__text::after {
      background-color: $basic-blue;
    }

    .button__icon {
      stroke: $basic-white;

      transform: rotate(45deg);
    }
  }

  &:active {
    background-color: $basic-blue;

    .button__text {
      color: rgba($basic-white, 70%);
    }

    .button__text::after {
      background-color: $basic-white;
    }

    .button__icon {
      stroke: rgba($basic-blue, 70%);

      transform: rotate(45deg);
    }
  }

  &:disabled {
    pointer-events: none;

    background-color: transparent;
    border-color: $disabled;

    .button__text {
      color: $disabled;
    }

    .button__text::after {
      background-color: $disabled;
    }

    .button__icon {
      stroke: rgba($basic-white, 60%);

      transform: none;
    }
  }

  &--disabled {
    pointer-events: none;

    background-color: transparent;
    border-color: $disabled;
  }

  &--disabled .button__text {
    color: $disabled;
  }

  &--disabled .button__text::after {
    background-color: $disabled;
  }

  &--disabled .button__icon {
    stroke: rgba($basic-white, 60%);

    transform: none;
  }
}

.button--light {
  border-color: $basic-white;

  &:hover {
    background-color: $basic-white;

    .button__text {
      color: $basic-blue;
    }

    .button__text::after {
      background-color: $basic-blue;
    }

    .button__icon {
      stroke: $basic-white;
    }
  }

  &:focus {
    background-color: transparent;

    .button__text {
      color: $basic-white;
    }

    .button__text::after {
      background-color: $basic-white;
    }

    .button__icon {
      stroke: $basic-blue;
    }
  }

  &:active {
    background-color: $basic-white;

    .button__text {
      color: rgba($basic-blue, 70%);
    }

    .button__text::after {
      background-color: $basic-blue;
    }

    .button__icon {
      stroke: rgba($basic-white, 70%);
    }
  }
}

.button__text {
  position: relative;

  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.24px;
  color: $basic-blue;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    letter-spacing: 0.28px;
  }

  &::after {
    content: "";
    position: absolute;

    width: 34px;
    height: 34px;

    top: 50%;
    right: -20px;
    transform: translate(100%, -50%);

    background-color: $basic-blue;
    border-radius: 100%;

    @media (min-width: $tablet-width) {
      width: 46px;
      height: 46px;

      right: -30px;
    }
  }

  &--light {
    color: $basic-white;
  }

  &--light::after {
    background-color: $basic-white;
  }
}

.button__icon {
  margin-left: 12px;

  stroke: $basic-white;

  z-index: 20;

  @media (min-width: $tablet-width) {
    margin-left: 18px;
  }

  &--light {
    stroke: $basic-blue;
  }
}
