.form__container {
  padding: 40px 0;

  @media (min-width: $tablet-width) {
    padding: 50px 58px;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 100px;
  }
}

.form__form-wrapper {
  padding: 43px 10px 40px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: $overlay-dark;
  background-image: url("../../img/form-bg-mobile@1x.jpg");

  @media (min-resolution: $retina-resolution) {
    background-image: url("../../img/form-bg-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    padding: 0 210px 0 0;

    border-radius: 16px;

    background-image: url("../../img/form-bg-tablet@1x.jpg");

    @media (min-resolution: $retina-resolution) {
      background-image: url("../../img/form-bg-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    padding-right: 750px;

    background-image: url("../../img/form-bg-desktop@1x.jpg");

    @media (min-resolution: $retina-resolution) {
      background-image: url("../../img/form-bg-desktop@2x.jpg");
    }
  }
}

.form__main-wrapper {
  padding: 15px 15px 27px;

  color: $second-grey;

  background-color: $basic-blue;
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet-width) {
    padding: 30px 40px 36px;
  }

  @media (min-width: $desktop-width) {
    padding: 30px 70px 40px;
  }
}

.form__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (min-width: $tablet-width) {
    gap: 20px;
  }
}

.form__title {
  color: $basic-white;

  @media (min-width: $tablet-width) {
    margin: 11px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 14px 0;
  }
}

.form__description {
  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.form__input-wrapper {
  gap: 12px;
}

.form__label {
  font-size: 12px;
  line-height: 14px;
  opacity: 80%;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    line-height: 18px;
  }

  &--select {
    @media (min-width: $desktop-width) {
      line-height: 14px;
    }
  }
}

.form__select {
  height: 52px;

  margin-right: 10px;

  @media (min-width: $tablet-width) {
    margin-right: 0;
  }
}


.form__button {
  margin-right: 10px;

  @media (min-width: $tablet-width) {
    margin-top: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}
