.page {
  height: 100%;
}

.page__body {
  min-width: $mobile-width;
  min-height: 100%;

  margin: 0;

  font-family: "Manrope", "Arial", sans-serif;
  color: $basic-grey;

  background-color: $second-grey;

  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.page__body--overflow {
  position: relative;

  &::after {
    content: "";
    position: absolute;

    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    background-color: $overlay-dark;

    z-index: 100;
  }
}
