// Devices
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

// Retina
$retina-resolution: 2dppx;

// Colors
$basic-white: #ffffff;
$basic-grey: #484848;
$second-grey: #f0efe9;
$basic-blue: #316dc2;
$dark-blue: #275699;
$disabled: #a9afb7;
$error: #ff5e66;
$overlay-light: rgba(49, 109, 194, 20%);
$overlay-dark: rgba(13, 29, 51, 40%);
